*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 20px;

}

.navbar img{
    border-radius: 100px;
     width: 60px;
}

nav{
    flex: 1;
    text-align: right;

}
nav ul{
        /* text-align: right; */
        display : inline-block;
        list-style-type: none;
        justify-content: center;
        text-align: right;
}
nav ul li{
    display : inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555 ;
}
p{
    color :#555;
}
.container{
    margin: auto;
    max-width: 1300px;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display :flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width : 300px;
}
.col-2 img{
    max-width: 100%;
    padding : 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin : 25px 0; 
}
.btn{
    display : inline-block;
    background : rgb(22, 20, 20);
    color : #fff;
    padding : 8px 30px;
    margin : 30px 0;
    border-radius: 30px;

}
.btn:hover{
    background : rgb(106, 106, 241)
}
.header{
    background: radial-gradient(rgb(235, 234, 238),rgb(196, 190, 205)) ;
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;

}
.col-3{
    flex-basis: 30%;
    min-width : 250px;
    margin-bottom : 30px;
}
.col-3 img{
    width : 100%;
}
.small-container{
    max-width : 1500px;
    margin : auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
}
.col-4{
    flex-basis : 25%;
    padding: 10px;
    min-width:200px ;
    margin-bottom: 50px;
    transition : transform 0.5s;
}
.col-4 img{
    width : 100%;
}
.rating .fa{
    color : #ff523b;
}
.title{
    text-align: center;
    margin :0 auto 80px;
    position : relative;
    line-height : 60px;
    color : #555;
}
.title1{
    text-align: center;
    margin :0 auto 80px;
    position : relative;
    line-height : 60px;
    color : #555;
}
.col-4 :hover{
    transform : translateY(-10px)
}
.offer{
    background: radial-gradient(rgb(235, 234, 238),rgb(196, 190, 205));
    margin-top: 80px;
    padding : 30px 0;
    align-items: center;
}
.col-2 .offer-img{
    padding : 50px;
}
small{
    color: rgb(141, 141, 231);
}
.testimonial{
    padding-top :100px;
}
.testimonial .col-3{
    text-align: center;
    padding : 40px 20px;
    box-shadow : 0 0 20px 0px rgba(0,0,0,0.4);
    cursor : pointer;
    transition : transform 0.5s
}
.testimonial .col-3 img{
    width :  50px;
    margin-top: 40px;
    border-radius : 50%;
}
/* .fa.fa-quote-left{
    font-size : 34px;
    color : #ff523b;
} */

.brands{
    margin : 100px auto;
    
}
.col-5{
    width : 160px;
}
.col-5 img{
    width : 100%;
    cursor : pointer;
    filter: grayscale(100%);
}
.footer{
    background : #000;
    color : #8a8a8a;
    font-size: 14px;
    padding : 60px 0 20px;
}
.footer p{
    color : #8a8a8a;
}
.footer h3{
    color : #fff;
    margin-bottom : 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom : 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex : 1;
    text-align: center;
    margin-right: 10px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.footer-col-2 img{
    max-width: 15%;
    border-radius: 100px;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer-col-3 .ul{
    cursor: pointer;
}
.footer-col-4 .ul{
    cursor: pointer;
}
.copyright{
    text-align: center;
}

/* ALL PRODUCTS PAGE */

.row-2{
    justify-content:space-between ;
    margin : 100px auto 50px;
}
select{
    border : 1px solid #ff523b;
    padding : 5px;
}

@media only screen and (max-width : 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis : 100%;
    }
    
}
/* 
single product details */

.single-product .col-2 img{
    margin-right: 100px;
    margin-left: 20px;
    margin-top: 80px;
    padding :0;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 5px;
}
.single-product input{
    width : 50px;
    height : 40px;
    padding-left : 10px;
    font-size : 20px;
    margin-right : 10px;
    border : 1px solid #ff523b
}
.small-container .col-2{
    margin-left:20px ;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor : pointer; 
}
.cart-page{
    margin : 80px auto;
}
table{
    width : 100%;
    border-collapse : collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
 th{
    text-align: left;
    padding: 5px;
    color: white;
    background-color: rgb(167, 167, 230) ;
    font-weight: normal;
 }
 td{
    padding : 10px 5px;
 }
 td input{
    width : 40px;
    height : 30px;
    padding : 5px;
 }
td a{
    color : rgb(167, 167, 230) ;
    font-size : 15px;
}
td img{
    width : 80px;
    height : 80px;
    margin-right: 10px;

}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid rgb(167, 167, 230) ;
    width: 100%;
    max-width: 350px;
}
/* 
account page */

.account-page{
    padding : 50px 0;
    background: radial-gradient(rgb(235, 234, 238),rgb(196, 190, 205));

}
.form-container{
    background: white;
    width : 300px;
    height : 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 25px 0;
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding:0 10px ;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding : 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
    
}
form input{
    width: 100%;
    height : 30px;
    margin : 10px 0;
    padding : 0 10px;
    border: 1px solid #ccc;
}
form.btn{
    width: 100%;
    border : none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn :focus{
outline: none;
}
#LoginForm{
    left: -300px;
}
#RegForm{
    left :0;
}
form a{
    font-size: 12px;
}
 #Indicator{
    width: 100px;
    border: none;
    background: rgb(167, 167, 230);
    height : 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
 }